################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Library.Core/obj
/Library.IData/obj
/JsonFileDAO/obj
